[Desktop Entry]
Name=About RamallahOS
Comment=About RamallahOS
Exec=ramallahos-about
Icon=/usr/share/icons/ramallahos/ramallahos.svg
Type=Application
Categories=System;
